<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>cn.tedu.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.tedu.listener.MyHttpSessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.tedu.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImageServlet</servlet-name>
    <servlet-class>cn.tedu.web.ValiImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.tedu.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>cn.tedu.web.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdListServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImgServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdPnumUpdateServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdPnumUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdDelServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.BackProdDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListByConditionServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdListByConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListBySearchServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdListBySearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartUpdateServlet</servlet-name>
    <servlet-class>cn.tedu.web.CartUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxUpdateByNumServlet</servlet-name>
    <servlet-class>cn.tedu.web.AjaxUpdateByNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAddServlet</servlet-name>
    <servlet-class>cn.tedu.web.OrderAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>cn.tedu.web.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>cn.tedu.web.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>cn.tedu.web.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>cn.tedu.web.CallBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaleListServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.SaleListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>okServlet</servlet-name>
    <servlet-class>cn.tedu.web.okServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadSalesServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.DownloadSalesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.UserListServlet</servlet-class>
  </servlet>
   
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>cn.tedu.web.back.DeleteUserServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/servlet/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImageServlet</servlet-name>
    <url-pattern>/servlet/ValiImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdListServlet</servlet-name>
    <url-pattern>/servlet/BackProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImgServlet</servlet-name>
    <url-pattern>/servlet/ProdImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdPnumUpdateServlet</servlet-name>
    <url-pattern>/servlet/BackProdPnumUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdDelServlet</servlet-name>
    <url-pattern>/servlet/BackProdDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListByConditionServlet</servlet-name>
    <url-pattern>/servlet/ProdListByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListBySearchServlet</servlet-name>
    <url-pattern>/servlet/ProdListBySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/servlet/ProdInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartUpdateServlet</servlet-name>
    <url-pattern>/servlet/CartUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxUpdateByNumServlet</servlet-name>
    <url-pattern>/servlet/AjaxUpdateByNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAddServlet</servlet-name>
    <url-pattern>/servlet/OrderAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/servlet/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/servlet/OrderDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/servlet/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/servlet/CallBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleListServlet</servlet-name>
    <url-pattern>/servlet/SaleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadSalesServlet</servlet-name>
    <url-pattern>/servlet/DownloadSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>okServlet</servlet-name>
    <url-pattern>/servlet/okServlet</url-pattern>
  </servlet-mapping>
</web-app>